$border-clr: rgba(0, 0, 0, 0.1);
$main-light-clr: white;
$main-contrast-clr: #1677ff;
$hover-header-color: rgb(249, 209, 216);
$main-black-clr: black;
$sider-hover-clr: aliceblue;
$wall-user-photo-bg-clr: #f3f2f2;

// * {
//   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// }
